*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Outfit",sans-serif;
  font-weight: 500;
  
}
header{
  color: white;
  padding: 0;
  margin: 0;
  height: 50vh;
  background: linear-gradient(#36802D,#77AB59);
}
main{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
.main-cabecalho{
  width: 100%;
  height: 100px;
}
.cabecalho-icon{
  font-size:20px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-top:10px ;
  margin-right: 10vw;
}
.icon{
  padding-right: 20px;
}
.icon a{
  color: white;
}
.search-main{
  height: 170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search{
  width: auto;
}
input[type="text"]:focus {
  outline: none;
  color: black;
  font-size: 1.4em;
}
.forms{
  width: 100%;
  height: 100%;
}
.logo{
  width: auto;
  height: auto;
  margin-bottom: 10px;
  font-size: 30px;
  color: black;
  /* definir altura e largura */
}
.bar{
  height: 8.5vh;
  width: 40vw;
  padding-left: 10px;
  border-radius: 15px 0 0 15px;
  border: none;
  font-size: 1.5em;
}
.bar-button{
  height: 8.5vh;
  width: 4.5vw;
  border-radius: 0 15px 15px 0;
  border: none;
  background-color: #234D20;
  border-left: none;
  color: white;
}
.bar-button:hover{
  cursor: pointer;
  background-color: #32672F;
}
.bar-button i{
  font-size: 1.7em;
}
.slogan{
  text-align: center;
  font-size: 1.8em;
}
.main-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container{
  padding: 20px 150px;
  display: flex;
  justify-content: center;
}
form{
  display: flex;
  width: auto;
  height: auto;
}
#not-found{
  font-size: 1.7em;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}