*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

.git/
.gitignore
.editorconfig
.github
LICENSE
Dockerfile
docker-compose.yml
Makefile
.nvim.lua
.pre-commit.yaml
README.md
shell.nix
