[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
redis = "*"
hiredis = "*"
biopython = "*"
python-dotenv = "*"
transformers = "*"
torch = "*"
accelerate = "*"

[dev-packages]
ipython = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
