[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
redis = "*"
hiredis = "*"

[dev-packages]
pyright = "*"
djhtml = "*"
autopep8 = "*"
ipython = "*"

[scripts]
format = "djhtml . && autopep8 --in-place --aggressive --aggressive -r ."

[requires]
python_version = "3.11"
