{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/vanda/{% static 'web/about.css' %}">
    <link rel="icon" href="https://dacc.unir.br/img/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/89c4b0bdbf.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <div class="main-cabecalho">
            <div class="icons separate"></div>
            <nav class="cabecalho-icon">
                <div class="l-side"><a href="/vanda/">
                        <div class="logo">
                            <div class="logo-circle">
                                <img src="/vanda/{% static 'web/vandaLogo.svg' %}" id="logo-img">
                            </div>
                            <div class="logo-name-div">
                                <span class="logo-name">VANDA</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="r-side">
                    <div class="icon"><a href="/vanda/about">About</a></div>
                    <div class="icon"><a href="https://github.com/riccardoalv/dbNGEN" target="_blank">Github<i
                                class="fa-brands fa-github"></i></a></div>
                </div>
            </nav>
        </div>
        <div class="search-main">
            <div class="search">
                <form action="/vanda/search" method="get" class="forms">
                    <input type="text" name="q" class="bar" placeholder="rs12345, rs268, BCO1, TP53...">
                    <button type="submit" class="bar-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
    </header>
    <main>
        <h1>About us</h1>
        <p class="about-text">Texto falando sobre como a gente eh muito legal e bom no que a gente faz e como foi
            desenvolvido o sistema inteiro do VANDA, falar sobre a universidade e mais alguma coisa boa</p>
        <h1>Equipe</h1>
        <div class="profiles">
            <div class="profile-box">
                <div class="circle-box">
                    <!--foto aqui-->
                </div>
                <div class="profile-info">
                    <h2>Nome</h2> <!--Nome da pessoa-->
                    <h2>Formação</h2> <!--Formação ou curso-->
                    <p>texto teste sobre a pessoa</p> <!--Seila oq botar aqui-->
                </div>
            </div>
            <div class="profile-box">
                <div class="circle-box">
                    <!--foto aqui-->
                </div>
                <div class="profile-info">
                    <h2>Nome</h2> <!--Nome da pessoa-->
                    <h2>Formação</h2> <!--Formação ou curso-->
                    <p>texto teste sobre a pessoa</p> <!--Seila oq botar aqui-->
                </div>
            </div>
            <div class="profile-box">
                <div class="circle-box">
                    <!--foto aqui-->
                </div>
                <div class="profile-info">
                    <h2>Nome</h2> <!--Nome da pessoa-->
                    <h2>Formação</h2> <!--Formação ou curso-->
                    <p>texto teste sobre a pessoa</p> <!--Seila oq botar aqui-->
                </div>
            </div>
        </div>
    </main>
    <hr style="width:100%;margin-top: 2vw;">
    <footer>
        <div class="footer-info">
            <div class="footer-topics">
                <h5>DEPARTAMENTOS</h5>
                <hr>
                <div class="align-logo-and-name">
                    <img src="/vanda/{% static 'web/dacc-logo.png'%}" alt=""><!--logo dacc-->
                    <a href="https://dacc.unir.br/homepage" class="link-footer-topics"><p>DACC</p></a>
                </div>
            </div>
            <div class="footer-topics">
                <h5>UNIVERSIDADE</h5>
                <hr>
                <div class="align-logo-and-name">
                    <img src="/vanda/{% static 'web/unir-logo.ico'%}" alt=""><!--logo unir-->
                    <a href="https://www.unir.br/homepage" class="link-footer-topics"><p>UNIR</p></a>
                </div>
            </div>
            <div class="footer-topics">
                <h5>CONTACT</h5>
                <hr>
                <p>dacc@unir.br</p>
            </div>
        </div>
        <div class="copyright">
            © 2024 ©CopyRight - <a href="https://www.unir.br/homepage" class="link-footer">UNIR</a> - Todos os Direitos
            Reservados
        </div>
    </footer>
</body>

</html>