{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>VANDA</title>
    <meta charset="UTF-8" />
    <link rel="icon" href="https://dacc.unir.br/img/favicon.ico" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/89c4b0bdbf.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vanda/{% static 'web/snpStyle.css' %}">
    <script src="/vanda/{% static 'web/script.js' %}"></script>
    <script src="/vanda/{% static 'web/button.js' %}"></script>
  </head>
  <body>
    <header>
      <div class="main-cabecalho">
        <div class="icons separate"></div>
        <nav class="cabecalho-icon">
          <div class="l-side"><a href="/vanda/"><div class="logo">
            <div class="logo-circle">
              <img src="/vanda/{% static 'web/vandaLogo.svg' %}" id="logo-img">
            </div>
            <div class="logo-name-div">
              <span class="logo-name">VANDA</span>
            </div>
          </div></a>
          </div>
          <div class="r-side">
            <div class="icon"><a href="#">About</a></div>
            <div class="icon"><a href="https://github.com/riccardoalv/dbNGEN" target="_blank">Github<i class="fa-brands fa-github"></i></a></div>
          </div>
        </nav>
      </div>
      <div class="search-main">
        <div class="search">
          <form action="search" method="get" class="forms">
            <input type="text" name="q" class="bar" placeholder="rs12345, rs268, BCO1, TP53...">
            <button type="submit" class="bar-button"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
      </div>
    </header>
    <main>
      <div class="main-header-snp">
        <div class="header-snp">
          <h1>{{ gene_name }}</h1>
          <a href="https://www.genecards.org/cgi-bin/carddisp.pl?gene={{ gene_name }}" target="blank"><img src="/vanda/{% static 'web/GeneCards-logo.png' %}" alt="GeneCards" title="GeneCards"></a>
        </div>
        <p class="desc-gene">{{description}}</p>
      </div>
      {% if data %}
        <button id = "show-keywords" onclick="showKeywords()">keywords</button>
        <button id = "show-snp" onclick="showSNP()">snp</button>
        <div id="snp-container">
          {% for k, v in snp_topics.items %}
            <h2><a href="../snp/{{ k }}">rs{{ k | title }}</a></h2>

            {% for item in v %}
              {% autoescape off %}
                <p>[ <a href="https://pubmed.ncbi.nlm.nih.gov/{{ item.pmid }}" target="blank">PMID {{item.pmid}}</a> ] {{item.title}}</p><br>
                <p>{{item.abstract}}</p><br>
              {% endautoescape %}
            {% endfor %}
          {% endfor %}
        </div>
        <div id="keywords-container">
          {% for k, v in data.items %}
            <h2>{{ k | title }}</h2>

            {% for item in v %}
              {% autoescape off %}
                <p>[ <a href="https://pubmed.ncbi.nlm.nih.gov/{{ item.pmid }}" target="blank">PMID {{item.pmid}}</a> ] {{item.title}}</p><br>
                <p>{{item.abstract}}</p><br>
              {% endautoescape %}
            {% endfor %}
          {% endfor %}
        </div>
      {% else %}
        <div class="filter-and-table-container">
          <p>The GENE doesn't have data associated with nutrigenetics</p>
        </div>
      {% endif %}
    </main>
    <hr style="width:100%;margin-top: 2vw;">
    <footer>
        <div class="footer-info">
            <div class="footer-topics">
                <h5>DEPARTAMENTOS</h5>
                <hr>
                <div class="align-logo-and-name">
                    <img src="/vanda/{% static 'web/dacc-logo.png'%}" alt=""><!--logo dacc-->
                    <a href="https://dacc.unir.br/homepage" class="link-footer-topics"><p>DACC</p></a>
                </div>
            </div>
            <div class="footer-topics">
                <h5>UNIVERSIDADE</h5>
                <hr>
                <div class="align-logo-and-name">
                    <img src="/vanda/{% static 'web/unir-logo.ico'%}" alt=""><!--logo unir-->
                    <a href="https://www.unir.br/homepage" class="link-footer-topics"><p>UNIR</p></a>
                </div>
            </div>
            <div class="footer-topics">
                <h5>CONTACT</h5>
                <hr>
                <p>dacc@unir.br</p>
            </div>
        </div>
        <div class="copyright">
            © 2024 ©CopyRight - <a href="https://www.unir.br/homepage" class="link-footer">UNIR</a> - Todos os Direitos
            Reservados
        </div>
    </footer>
  </body>
</html>
