{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>VANDA</title>
        <meta charset="UTF-8" />
        <link rel="icon" href="https://dacc.unir.br/img/favicon.ico" type="image/x-icon"/>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <script src="https://kit.fontawesome.com/89c4b0bdbf.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
        <link href="/vanda/{% static 'web/style.css' %}" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div class="main-cabecalho">
                <nav class="cabecalho-icon">
                    <div class="icon"><a href="/vanda/about">About</a></div>
                    <div class="icon"><a href="https://github.com/riccardoalv/dbNGEN" target="_blank">Github<i class="fa-brands fa-github"></i></a></div>
                </nav>
            </div>
            <div class="search-main">
                <div class="search">
                    <div class="logo">
                        <div class="logo-circle">
                            <img src="/vanda/{% static 'web/vandaLogo.svg' %}" id="logo-img">
                        </div>
                        <div class="logo-name-div">
                            <h1 class="logo-name">VANDA</h1>
                            <span class="big-logo-name">Visualization and Analysis Nutrigenetic Data</span>
                        </div>
                    </div>
                    <form action="/vanda/search" method="get" class="forms">
                        <input type="text" name="q" class="bar" placeholder="rs12345, rs268, BCO1, TP53...">
                        <button type="submit" class="bar-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div class="slogan">
                    <p>Explore nutrigenetic data and personalized diet insights.</p>
                </div>
            </div>
        </header>
        <main>
            <div class="main-container">
                <h2 class="aboutPlat">About the Platform</h2>
                <div class="ab">
                    <p>VANDA is a web platform designed for the analysis and exploration of nutrigenetic data. By linking genetic variations (SNPs) to pathologies, it assists researchers and healthcare professionals in creating personalized dietary plans. The platform integrates data from public repositories like dbSNP and uses advanced categorization and summarization techniques to offer a user-friendly experience.</p>
                    <img src="/vanda/{% static 'web/snp_ilustration.svg' %}">
                </div>
                <div class="dbTitles">
                    <h2 class="databaseTopic">Database</h2>
                    <h3 class="NCBI">NCBI</h3>
                </div>
                <div class="db">    
                    <a href="https://www.ncbi.nlm.nih.gov/" target="_blank"><img src="/vanda/{% static 'web/NIH_Logo.png' %}" alt="" style="margin-right:2vw ;"></a>
                    <p>The NCBI (National Center for Biotechnology Information) is part of the U.S. National Institutes of Health (NIH), focused on biotechnology and bioinformatics. It provides a wide range of resources and tools for biomedical and genomic research. Among its features, the NCBI hosts important databases such as GenBank (DNA sequences), PubMed (scientific articles), BLAST (sequence alignment tool), and Gene (gene information).
                    The site is widely used by scientists, doctors, and students to access genetic data, perform sequence analysis, and consult academic publications.</p>
                </div>
            </div>
        </main>
        <hr style="width:100%;margin-top: 2vw;">
        <footer>
            <div class="footer-info">
                <div class="footer-topics">
                    <h5>DEPARTAMENTOS</h5>
                    <hr>
                    <div class="align-logo-and-name">
                        <img src="/vanda/{% static 'web/dacc-logo.png'%}" alt=""><!--logo dacc-->
                        <a href="https://dacc.unir.br/homepage" class="link-footer-topics"><p>DACC</p></a>
                    </div>
                </div>
                <div class="footer-topics">
                    <h5>UNIVERSIDADE</h5>
                    <hr>
                    <div class="align-logo-and-name">
                        <img src="/vanda/{% static 'web/unir-logo.ico'%}" alt=""><!--logo unir-->
                        <a href="https://www.unir.br/homepage" class="link-footer-topics"><p>UNIR</p></a>
                    </div>
                </div>
                <div class="footer-topics">
                    <h5>CONTACT</h5>
                    <hr>
                    <p>dacc@unir.br</p>
                </div>
            </div>
            <div class="copyright">
                © 2021 ©CopyRight - <a href="https://www.unir.br/homepage" class="link-footer">UNIR</a> - Todos os Direitos
                Reservados
            </div>
        </footer>
    </body>
</html>

