{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>dbNGEN</title>
        <meta charset="UTF-8" />
        <link rel="icon" href="https://dacc.unir.br/img/favicon.ico" type="image/x-icon"/>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <script src="https://kit.fontawesome.com/89c4b0bdbf.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
        <link href="{% static 'web/style.css' %}" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div class="main-cabecalho">
                <nav class="cabecalho-icon">
                    <div class="icon"><a href="#">About</a></div>
                    <div class="icon"><a href="https://github.com/riccardoalv/dbNGEN" target="_blank">Github<i class="fa-brands fa-github"></i></a></div>
                </nav>
            </div>
            <div class="search-main">
                <div class="search">
                    <div class="logo">
                        <div class="logo-circle">
                            <img src="{% static 'web/vandaLogo.svg' %}" id="logo-img">
                        </div>
                        <h1 class="logo-name">VANDA</h1>
                    </div>
                    <form action="/search" method="get" class="forms">
                        <input type="text" name="q" class="bar" placeholder="rs12345, beta carotene, TP53, regex...">
                        <button type="submit" class="bar-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div class="slogan">
                    <p>The site, is a very good site for search about snp and more</p>
                </div>
            </div>
            
        </header>
        <main>
            <div class="main-container">
                <div class="container" id="most-searched">
                    <h2>Most searched</h2>
                </div>
                <div class="container" id="article">
                    <h2>Article</h2>
                </div>
                    <!-- <div class="container" id="container3">
                        <h2>Title</h2>
                    </div> -->
            </div>
        </main>
    </body>
</html>
