{% load static %}
{% load custom_filters %}
<!doctype html>
<html lang="en">
  <head>
    <title>VANDA</title>
    <meta charset="UTF-8" />
    <link rel="icon" href="https://dacc.unir.br/img/favicon.ico" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/89c4b0bdbf.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'web/searchStyle.css' %}">
    <script src="{% static 'web/script.js' %}"></script>
  </head>
  <body>
    <header>
      <div class="main-cabecalho">
        <div class="icons separate"></div>
        <nav class="cabecalho-icon">
          <div class="l-side"><a href="\"><div class="logo">
            <div class="logo-circle">
                <img src="{% static 'web/vandaLogo.svg' %}" id="logo-img">
            </div>
            <div class="logo-name-div">
                <span class="logo-name">VANDA</span>
            </div>
          </div></a>
          </div>
          <div class="r-side">
            <div class="icon"><a href="#">About</a></div>
            <div class="icon"><a href="https://github.com/riccardoalv/dbNGEN" target="_blank">Github<i class="fa-brands fa-github"></i></a></div>
          </div>
        </nav>
      </div>
      <div class="search-main">
        <div class="search">
          <form action="/search" method="get" class="forms">
            <input type="text" name="q" class="bar" placeholder="rs12345, beta carotene, TP53, regex...">
            <button type="submit" class="bar-button"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
      </div>
    </header>
    <main>
      {% if list_response %}
        <h3 id="snp-counter">{{ num_items }} SNP founds</h3>
        <div class="show-items">
          {% for item in list_response %}
            <div class="checkbox-title">
            <input type="checkbox" class="checkbox-snp" name="select-checbox">
            <a href="/snp/{{item.0 | slice:"2:" }}">
            <h1>{{item.0}}</h1></a>
            </div>
            <div class="desc">
              <h4>Gene:
                <span>{% for gene in item.4 %}
                  <a href="/gene/{{ gene }}" target="blank">{{ gene }}</a>
                {% endfor %}</span>
              </h4>
              <h4>Alelles:<span> {{item.3}}</span></h4>
              <h4>HGVS:
                <span>
                  {% for hgvs in item.5 %}
                    {% if hgvs|slice:"0:2" == "XP" or hgvs|slice:"0:2" == "NP" %}
                      <a href="https://www.ncbi.nlm.nih.gov/protein/{{hgvs | split:':'}}">
                        {{ hgvs }}
                      </a>
                    {% else %}
                      <a href="https://www.ncbi.nlm.nih.gov/nuccore/{{hgvs | split:':'}}">
                        {{ hgvs }}
                      </a>
                    {% endif %}
                  {% endfor %}
                </span>
              </h4>
            </div>
            <br>
          {% endfor %}
        </div>
        <nav>
          <ul class="button-pagination">
            {% if list_response.has_previous %}
              <li class="arrow-page"><a  href="javascript:setParam('page', {{ list_response.previous_page_number }})"><i class="fa fa-angle-left"></i></a></li>
            {% endif %}
            <li class="current-page"><a  href="javascript:setParam('page', {{ list_response.number }})">{{list_response.number}}</a></li>
            {% if list_response.has_next %}
              <li class="arrow-page"><a  href="javascript:setParam('page', {{list_response.next_page_number}})"><i class="fa fa-angle-right"></i></a></li>
            {% endif %}
          </ul>
        </nav>
      {% else %}
        <div class="no-items-found">
          <img src="{% static 'web/no-items-found.png' %}"/>
          <p id="not-found">0 snps found</p>
        </div>
      {% endif %}
    </main>
  </body>
</html>
