{% load static %}
{% load custom_filters %}
<!doctype html>
<html lang="en">
  <head>
    <title>VANDA</title>
    <meta charset="UTF-8" />
    <link rel="icon" href="https://dacc.unir.br/img/favicon.ico" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/89c4b0bdbf.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vanda/{% static 'web/searchStyle.css' %}">
    <script src="/vanda/{% static 'web/script.js' %}"></script>
  </head>
  <style>
    .min-w-full {
      min-width: 100%;
    }

    .table-auto {
      table-layout: auto;
      overflow: hidden;
      padding-right: 6vh;
    }

    .hover-bg {
      transition: background-color 0.3s ease;
    }

    .hover-bg:hover {
      background-color: #f8f9fa;
    }

    .break-words {
      word-break: break-word;
    }

    .whitespace-pre-wrap {
      white-space: pre-wrap;
    }
    .py-2{
      text-align: center;
    }
  </style>

  <body class="bg-light">
    <header>
      <div class="main-cabecalho">
        <div class="icons separate"></div>
        <nav class="cabecalho-icon">
          <div class="l-side"><a href="/vanda/"><div class="logo">
            <div class="logo-circle">
              <img src="/vanda/{% static 'web/vandaLogo.svg' %}" id="logo-img">
            </div>
            <div class="logo-name-div">
              <span class="logo-name">VANDA</span>
            </div>
          </div></a>
          </div>
          <div class="r-side">
            <div class="icon"><a href="/vanda/about">About</a></div>
            <div class="icon"><a href="https://github.com/riccardoalv/dbNGEN" target="_blank">Github<i class="fa-brands fa-github"></i></a></div>
          </div>
        </nav>
      </div>
      <div class="search-main">
        <div class="search">
          <form action="/vanda/search" method="get" class="forms">
            <input type="text" name="q" class="bar" placeholder="rs12345, rs268, BCO1, TP53...">
            <button type="submit" class="bar-button"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
      </div>
    </header>
    <div class="container mt-5">
      {% if search_response %}
        <button id="downloadJsonBtn">Download JSON</button>
        <h3 id="snp-counter">{{ num_items }} SNP founds</h3>
        <div class="principal">
          <div class="filter-main">
            <h3>Filters</h3>
            <div class="align-filter">
              <div class="filters">
                <input type="checkbox" name="singleGene" id="singleGene">
                <label for="singleGene">Single Gene</label>
              </div>
              <div class="filters">
                <input type="checkbox" name="multipleGenes" id="multipleGenes">
                <label for="multipleGenes">Multiple Genes</label>
              </div>
            </div>
          </div>
          <div class="show-items">
            <table class="table table-hover min-w-full table-auto">
              <thead>
                <tr>
                  <th scope="col">SNP</th>
                  <th scope="col">dbSNP</th>
                  <th scope="col">Gene</th>
                  <th scope="col">Mutation</th>
                  <th scope="col">Posição</th>
                  <th scope="col">Protein</th>
                  <th scope="col">Genomic</th>
                  <th scope="col">mRNA</th>
                </tr>
                <tr>
                  <th><input type="text" class="form-control" id="filter-snp"></th>
                  <th></th>
                  <th><input type="text" class="form-control" id="filter-gene"></th>
                  <th><input type="text" class="form-control" id="filter-mutation"></th>
                  <th></th>
                  <th><input type="text" class="form-control" id="filter-np"></th>
                  <th><input type="text" class="form-control" id="filter-nc"></th>
                  <th><input type="text" class="form-control" id="filter-nm"></th>
                </tr>
              </thead>
              <tbody id="referenciaContent">
                {% for item in search_response %}
                  <tr class="hover-bg">
                    <td class="py-2 px-4 border-bottom break-words">
                      <a href="./snp/{{item.0|slice:"2:"}}">
                        {{ item.0 }}
                      </a>
                    </td>
                    <td class="py-2 px-4 border-bottom break-words">
                      <a href="https://www.ncbi.nlm.nih.gov/snp/{{ item.0 }}" target="_blank" rel="noopener noreferrer">
                        <img src="/vanda/{% static 'web/NIH_Logo.png' %}" alt="NCBI Logo" class="mr-3" style="width: 40px;">
                      </a>
                    </td>
                    <td class="py-2 px-4 ">{{ item.4|join:' ' }}</td>
                    <td class="py-2 px-4 border-bottom break-words">{{ item.3 }}</td>
                    <td class="py-2 px-4 ">{{ item.2 }}</td>
                    <td class="py-2 px-4 border-bottom break-words">
                      {{ item.5.0|join:' ' }}
                    </td>
                    <td class="py-2 px-4 border-bottom break-words">
                      {{ item.5.1|join:' ' }}
                    </td>
                    <td class="py-2 px-4 border-bottom break-words">
                      {{ item.5.2|join:' ' }}
                    </td>
                  </tr>
                  <hr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <nav>
          <ul class="button-pagination">
            {% if list_response.has_previous %}
              <li class="arrow-page"><a href="javascript:setParam('page', {{ list_response.previous_page_number }})"><i class="fa fa-angle-left"></i></a></li>
            {% endif %}
            <li class="current-page"><a href="javascript:setParam('page', {{ list_response.number }})">{{ list_response.number }}</a></li>
            {% if list_response.has_next %}
              <li class="arrow-page"><a href="javascript:setParam('page', {{ list_response.next_page_number }})"><i class="fa fa-angle-right"></i></a></li>
            {% endif %}
          </ul>
        </nav>
      {% else %}
        <div class="no-items-found">
          <img src="/vanda/{% static 'web/no-items-found.png' %}"/>
          <p id="not-found">0 snps found</p>
        </div>
      {% endif %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script>
      document.getElementById('downloadJsonBtn').addEventListener('click', async function() {
        const url = 'http://computacao.unir.br/vanda';
        let u = window.location.href;
        console.log(u)
        u = u.substring(url.length);
        u = url + '/api/' + u
        console.log(u)

        try {
          const response = await fetch(u);
          const data = await response.json();

          const jsonStr = JSON.stringify(data, null, 2);
          const blob = new Blob([jsonStr], { type: 'application/json' });
          const blobUrl = URL.createObjectURL(blob);

          const link = document.createElement('a');
          link.href = blobUrl;
          link.download = 'data.json';
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
          URL.revokeObjectURL(blobUrl);
        } catch (error) {
          console.error('Error fetching the JSON data:', error);
          alert('An error occurred while downloading the JSON file.');
        }
      });
      document.querySelectorAll('#filter-snp, #filter-gene, #filter-mutation, #filter-np, #filter-nc, #filter-nm').forEach(input => {
        input.addEventListener('input', filterTable);
      });

      function filterTable() {
        const snpFilter = document.getElementById('filter-snp').value.toLowerCase();
        const geneFilter = document.getElementById('filter-gene').value.toLowerCase();
        const mutationFilter = document.getElementById('filter-mutation').value.toLowerCase();
        const npFilter = document.getElementById('filter-np').value.toLowerCase();
        const ncFilter = document.getElementById('filter-nc').value.toLowerCase();
        const nmFilter = document.getElementById('filter-nm').value.toLowerCase();

        const rows = document.querySelectorAll('#referenciaContent tr');

        rows.forEach(row => {
          const snpCell = row.children[0].textContent.toLowerCase();
          const geneCell = row.children[2].textContent.toLowerCase();
          const mutationCell = row.children[3].textContent.toLowerCase();
          const npCell = row.children[4].textContent.toLowerCase();
          const ncCell = row.children[5].textContent.toLowerCase();
          const nmCell = row.children[5].textContent.toLowerCase();

          if (snpCell.includes(snpFilter) &&
            geneCell.includes(geneFilter) &&
            mutationCell.includes(mutationFilter) &&
            npCell.includes(npFilter) &&
            ncCell.includes(ncFilter) &&
            nmCell.includes(nmFilter)
          ) {
            row.style.display = '';
          } else {
            row.style.display = 'none';
          }
        });
      }
    </script>
    <script src="/vanda/{% static 'web/scriptCollapsible.js' %}"></script>
  </body>
</html>
