{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>dbNGEN</title>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      href="https://dacc.unir.br/img/favicon.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <link href="{% static 'web/style.css' %}" rel="stylesheet" />
    <script src="{% static 'web/script.js' %}"></script>
  </head>
  <body>
    <header class="site-header">
      <nav>
        <a href="https://www.unir.br/homepage"
        ><img src="{% static 'web/logo_unir.png' %}" alt="logo da unir"/></a>
        <ul>
          <li><a href="#">Sobre</a></li>
          <li>
            <a href="https://github.com/riccardoalv/dbNGEN" target="_blank"
            >Github <i class="fa fa-github"></i
              ></a>
            </li>
          </ul>
        </nav>
      </header>

      <main>
        {% if data %}
          {% for k, v in data.items %}
            <h1>{{k}}</h1>

            {% for item in v %}
              {% autoescape off %}
                <b>{{item.pmid}}:</b><p>{{item.title}}</p><br>
                <p>{{item.abstract}}</p><br>
              {% endautoescape %}
            {% endfor %}
          {% endfor %}
        {% else %}
          <div class="filter-and-table-container">
            <p>Error</p>
          </div>
        {% endif %}
      </main>
    </body>
  </html>
